body {
    text-align: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

h3 {
    font-size: 25px;
}

.block {
    display: inline-block;
    padding: 10px 15px;
    width: 512px;
    border-radius: 1em;
    border: 1px solid lightgray;
    -webkit-appearance: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input,
.submit {
    display: inline-block;
    width: 300px;
    padding: 10px 15px;
    font-size: 20px;
    -webkit-appearance: none;
}

.input {
    border: 1px solid lightgray;
    box-sizing: border-box
}

.submit {
    background-color: rgba(164,215,151,255);
    border: 1px solid transparent;
}

.submit:hover {
  background-color: rgb(109,155,92);
}

.top_border {
    border-radius: 0.5em 0.5em 0 0;
}

.bottom_border {
    border-radius: 0 0 0.5em 0.5em;
}

.border {
    border-radius: 0.5em;
}

.pseudo_button {
    display: inline-block;
    width: 300px;
    padding: 10px 15px;
    font-size: 20px;
    color: black;
    -webkit-appearance: none;
    box-sizing: border-box;
    border: 1px solid lightgray;
    text-decoration: none;
    cursor: pointer;
}

.pseudo_button:hover {
  background-color: lightgray;
}