<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">

<head>
    {{>head}}
    <link rel="stylesheet" href="/css/about.css" media="screen">
</head>

<body class="u-body u-xl-mode" data-lang="ru"><header class="u-clearfix u-header u-header" id="sec-a386"><div class="u-clearfix u-sheet u-sheet-1">
    <nav class="u-menu u-menu-one-level u-menu-open-right u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
                <svg class="u-svg-link" viewBox="0 0 24 24"><use xlink:href="#menu-hamburger"></use></svg>
                <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
                </g></svg>
            </a>
        </div>
        <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-2 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-custom-color-5 u-text-grey-90 u-text-hover-grey-90" href="/index" style="padding: 10px 20px;">Обо мне</a>
            </li><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-custom-color-5 u-text-grey-90 u-text-hover-grey-90" href="/about#sec-contacts" style="padding: 10px 20px;">Контакты</a>
            </li><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-custom-color-5 u-text-grey-90 u-text-hover-grey-90" href="/about#carousel_f9a7" style="padding: 10px 20px;">Консультация</a>
            </li><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-custom-color-5 u-text-grey-90 u-text-hover-grey-90" href="/prices" style="padding: 10px 20px;">Стоимость</a>
            </li></ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-container-style u-custom-color-5 u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                <div class="u-inner-container-layout u-sidenav-overflow">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-left u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/home">Обо мне</a>
                    </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/about#sec-contacts">Контакты</a>
                    </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/about#carousel_f9a7">Консультация</a>
                    </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/prices">Стоимость</a>
                    </li></ul>
                </div>
            </div>
            <div class="u-menu-overlay"></div>
        </div>
    </nav>
</div></header>
<section class="u-align-center u-clearfix u-section-1" id="carousel_f9a7">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-expanded-width u-group u-white u-group-1">
            <div class="u-container-layout u-valign-bottom-sm u-valign-bottom-xs u-container-layout-1">
                <div class="u-align-center u-clearfix u-container-align-left u-group-elements u-group-elements-1">
                    <h2 class="u-align-left u-text u-text-1"> Как проходит коуч сессия:</h2>
                    <ul class="u-align-left u-custom-list u-text u-text-2">
                        <li>
                            <div class="u-list-icon u-text-custom-color-5">
                                <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-ec1d"><path d="m433.1 67.1-231.8 231.9c-6.2 6.2-16.4 6.2-22.6 0l-99.8-99.8-78.9 78.8 150.5 150.5c10.5 10.5 24.6 16.3 39.4 16.3 14.8 0 29-5.9 39.4-16.3l282.7-282.5z" fill="currentColor"></path></svg>
                            </div>В начале сессии мы раскроем текущий запрос, волнующий вас и определим конечную цель.
                        </li>
                        <li>
                            <div class="u-list-icon u-text-custom-color-5">
                                <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-ec1d"><path d="m433.1 67.1-231.8 231.9c-6.2 6.2-16.4 6.2-22.6 0l-99.8-99.8-78.9 78.8 150.5 150.5c10.5 10.5 24.6 16.3 39.4 16.3 14.8 0 29-5.9 39.4-16.3l282.7-282.5z" fill="currentColor"></path></svg>
                            </div>Возможно поднимем более глубокий запрос в ходе обсуждения
                        </li>
                        <li>
                            <div class="u-list-icon u-text-custom-color-5">
                                <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-ec1d"><path d="m433.1 67.1-231.8 231.9c-6.2 6.2-16.4 6.2-22.6 0l-99.8-99.8-78.9 78.8 150.5 150.5c10.5 10.5 24.6 16.3 39.4 16.3 14.8 0 29-5.9 39.4-16.3l282.7-282.5z" fill="currentColor"></path></svg>
                            </div>Обсудим, чего именно вы хотите.
                        </li>
                        <li>
                            <div class="u-list-icon u-text-custom-color-5">
                                <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-ec1d"><path d="m433.1 67.1-231.8 231.9c-6.2 6.2-16.4 6.2-22.6 0l-99.8-99.8-78.9 78.8 150.5 150.5c10.5 10.5 24.6 16.3 39.4 16.3 14.8 0 29-5.9 39.4-16.3l282.7-282.5z" fill="currentColor"></path></svg>
                            </div>Определим истинность вашего запроса
                        </li>
                        <li>
                            <div class="u-list-icon u-text-custom-color-5">
                                <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-ec1d"><path d="m433.1 67.1-231.8 231.9c-6.2 6.2-16.4 6.2-22.6 0l-99.8-99.8-78.9 78.8 150.5 150.5c10.5 10.5 24.6 16.3 39.4 16.3 14.8 0 29-5.9 39.4-16.3l282.7-282.5z" fill="currentColor"></path></svg>
                            </div>Разберем на части запрос и наведем порядок в мыслях
                        </li>
                        <li>
                            <div class="u-list-icon u-text-custom-color-5">
                                <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-ec1d"><path d="m433.1 67.1-231.8 231.9c-6.2 6.2-16.4 6.2-22.6 0l-99.8-99.8-78.9 78.8 150.5 150.5c10.5 10.5 24.6 16.3 39.4 16.3 14.8 0 29-5.9 39.4-16.3l282.7-282.5z" fill="currentColor"></path></svg>
                            </div>Проведем техники, задействуем мышление
                        </li>
                        <li>
                            <div class="u-list-icon u-text-custom-color-5">
                                <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-ec1d"><path d="m433.1 67.1-231.8 231.9c-6.2 6.2-16.4 6.2-22.6 0l-99.8-99.8-78.9 78.8 150.5 150.5c10.5 10.5 24.6 16.3 39.4 16.3 14.8 0 29-5.9 39.4-16.3l282.7-282.5z" fill="currentColor"></path></svg>
                            </div>Определим как достичь желаемого и пропишем шаги
                        </li>
                        <li>
                            <div class="u-list-icon u-text-custom-color-5">
                                <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-ec1d"><path d="m433.1 67.1-231.8 231.9c-6.2 6.2-16.4 6.2-22.6 0l-99.8-99.8-78.9 78.8 150.5 150.5c10.5 10.5 24.6 16.3 39.4 16.3 14.8 0 29-5.9 39.4-16.3l282.7-282.5z" fill="currentColor"></path></svg>
                            </div>После сессии вы получите домашнее задание, которое поможет вам придти к желаемому скорейшим путем
                        </li>
                    </ul>
                </div>
                <div class="u-align-center u-clearfix u-container-align-left-lg u-container-align-left-md u-container-align-left-sm u-container-align-left-xl u-group-elements u-group-elements-2">
                    <h2 class="u-align-left u-text u-text-3">Примеры запросов:</h2>
                    <h4 class="u-align-left u-text u-text-custom-color-5">Отношения:</h4>
                    <ul class="u-align-left u-text u-text-4">
                        <li>Конфликты в семье (с детьми, с мужем, с родителями)</li>
                        <li>Хочу романтические отношения</li>
                    </ul>
                    <h4 class="u-align-left u-text u-text-custom-color-5">Самореализация:</h4>
                    <ul class="u-align-left u-text u-text-4">
                        <li>Не понимаю, в чем мое предназначение</li>
                        <li>Не могу найти дело жизни</li>
                    </ul>
                    <h4 class="u-align-left u-text u-text-custom-color-5">Страхи и ограничения:</h4>
                    <ul class="u-align-left u-text u-text-4">
                        <li>Боюсь проявляться в мир</li>
                        <li>Не могу принять важное решение</li>
                        <li>Хочу трансформировать детскую травму</li>
                    </ul>
                    <h4 class="u-align-left u-text u-text-custom-color-5">Изменить состояние:</h4>
                    <ul class="u-align-left u-text u-text-4">
                        <li>Найти баланс в жизни между работой и семьей</li>
                        <li>Чувствую тревожность</li>
                        <li>Хочу ощущать спокойствие</li>
                        <li>Развитие лидерских качеств</li>
                        <li>Найти мотивацию в жизни</li>
                    </ul>
                </div>
                <a href="/prices" class="u-active-palette-1-light-1 u-border-none u-btn u-btn-rectangle u-button-style u-custom-color-5 u-hover-palette-1-light-1 u-radius-0 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-1">Стоимость</a>
            </div>
        </div>
    </div>
</section>
{{>contacts}}
</body></html>