<!DOCTYPE html>
<head>
    <title>Я читаю текст вы слушаете текст</title>
    <meta http-equiv="Content-Type" content="text/html" charset=UTF-8"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/error.css">
</head>
<html>
    <body>
        <div class="row parent-container">
            <div class="w100 picture-container">
                <img width="100%" src="/images/comb.png">
            </div>
        </div>
    </body>
</html>