<!DOCTYPE html>
<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/error.css">
</head>
<html>
    <body>
        <div class="row parent-container">
            <div class="w100 picture-container">
                <img width="100%" src="/images/error.jpg">
            </div>
        </div>
    </body>
</html>