<!DOCTYPE html>
<head>
    <title>Пульт управления фолопидорами</title>
    <meta http-equiv="Content-Type" content="text/html" charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/folopidor.css">
    <script src="js/folopidor.js"></script>
</head>
<html>
<body>
<div>
    <form method="post">
        <input id="chatId" type="number" name="chatId" placeholder="ChatId"/>
        <input id="userId" type="number" name="userId" placeholder="UserId"/>
        <button type="submit" name="action" value="add">Добавить</button>
    </form>
</div>

<form id="filterform" method="post">
    <input id="filter" type="text" name="chatId" placeholder="Фильтр по ChatId"/>
    <button type="submit" name="action" value="filter">Отфильтровать</button>
</form>

<table id="maintab">
    <thead>
    <tr>
        <th>ChatId</th>
        <th>UserId</th>
        <th>Счет</th>
        <th>Дата последней победы</th>
        <th>Дата последней активности</th>
        <th>Имя</th>
        <th colspan="2">Действие</th>
    </tr>
    </thead>
    <tbody>
    {{#folopidors}}
        <tr>
            <form method="post">
                <td width=10% align="center"><input onclick="onClickChatid({{id.chatId}})"
                                                    type="number" name="chatId" value={{id.chatId}} readonly/></td>
                <td width=10% align="center"><input onclick="onClickUserid({{id.userId}})"
                                                    type="number" name="userId" value={{id.userId}} readonly/></td>
                <td width=10% align="center"><input type="number" name="score" value="{{score}}"/></td>
                <td width=10% align="center"><input type="date" name="lastWinDate" value="{{lastWinDate}}"/></td>
                <td width=10% align="center"><input type="date" name="lastActiveDate" value="{{lastActiveDate}}"/></td>
                <td width="40%"><i>{{TagName}}</i></td>
                <td width="5%" align="center">
                    <button type="submit" name="action" value="update">Обновить</button>
                </td>
                <td width="5%" align="center">
                    <button type="submit" name="action" value="delete">Удалить</button>
                </td>
            </form>
        </tr>
    {{/folopidors}}
    </tbody>
</table>
</body>
</html>