<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
    <div class="block">
        <img src="/images/index.jpg">

        <div><a class="pseudo_button border" href="https://instagram.com/irina_slyusar_coach"><span>Ето инста</span></a></div>
        <div><a class="pseudo_button border" href="https://t.me/slyusartalk"><span>Ето телега</span></a></div>
    </div>
</body>
</html>