<!DOCTYPE html>
<head>
    <title>Я читаю текст вы слушаете текст</title>
    <meta http-equiv="Content-Type" content="text/html" charset=UTF-8"/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<html>
    <body>
        <div class="row parent-container">
            <div class="w100 video-container">
                <video width="100%" autoplay loop muted playsinline>
                    <source src="/media/wololo.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </body>
</html>