<!DOCTYPE html>
<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<html>
    <body>

        <div>
            <form method="post" action="main">
                <input type="text" name="text" placeholder="Введите сообщение" />
                <input type="text" name="tag" placeholder="Тэг" />
                <button type="submit">Добавить</button>
            </form>
        </div>

        <form method="post" action="filter" >
            <input type="text" name="filter" placeholder="Фильтр"/>
            <button type="submit">Найти</button>
        </form>

        <table border="1">
            <thead>
            <tr>
                <th colspan="3">Список сообщений</th>
            </tr>
            </thead>
            <tbody>
            {{#messages}}
                <tr>
                    <td><b>{{id}}</b></td>
                    <td><span>{{text}}</span></td>
                    <td><i>{{tag}}</i></td>
                </tr>
            {{/messages}}
            </tbody>
        </table>

    </body>
</html>