<!DOCTYPE html>
<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<html>
    <body>
        <div>
            <form method="post" action="main">
                <input type="text" name="chatid" placeholder="ChatId" />
                <input type="text" name="userid" placeholder="UserId" />
<!--                <input type="text" name="score" placeholder="Score" />-->
                <input type="text" name="tag" placeholder="Tag" />
                <button type="submit">Добавить</button>
            </form>
        </div>

        <form method="post" action="filter" >
            <input type="text" name="filter" placeholder="Фильтр по ChatId"/>
            <button type="submit">Найти</button>
        </form>

        <table border="1">
            <thead>
            <tr>
                <th colspan="4">Список фолопидоров</th>
            </tr>
            </thead>
            <tbody>
            {{#folopidors}}
                <tr>
                    <td><b>{{chatid}}</b></td>
                    <td><b>{{userid}}</b></td>
                    <td><span>{{score}}</span></td>
                    <td><i>{{tag}}</i></td>
                </tr>
            {{/folopidors}}
            </tbody>
        </table>
    </body>
</html>