<!DOCTYPE html>
<head>
    <title>Amaizing folobot</title>
    <meta http-equiv="Content-Type" content="text/html" charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="js/main.js"></script>
</head>
<html>
    <body>
        <div>
            <a href="/folopidor">
                <button>Фолопидоры</button>
            </a>
            <a href="/folouser">
                <button>Пользователи</button>
            </a>
        </div>
        <br>

        <table id="maintab">
            <tbody>
                <tr bgcolor="#acf6fa">
                    <form method="post">
                       <td width="20%" height="30"><input id="chatId" type="number" name="chatId" placeholder="ChatId"/></td>
                       <td width="70%" height="30"><input type="text" name="message" placeholder="Сообщение"/></td>
                       <td width="10%" height="30"><button type="submit">Отправить</button></td>
                    </form>
                <tr>
                <tr onclick="onClick(146072069)">
                    <td width="20%"><i>146072069</i></td>
                    <td width="80%">Андрей</td>
                </tr>
                <tr onclick="onClick(800522859)">
                    <td width="20%"><i>800522859</i></td>
                    <td width="80%">Виталик</td>
                </tr>
                <tr onclick="onClick(-1001439088515)">
                    <td width="20%"><i>-1001439088515</i></td>
                    <td width="80%">Фолочат</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>