<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Я читаю текст вы слушаете текст</title>
    <meta http-equiv="Content-Type" content="text/html" charset=UTF-8"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
</head>
<body>

    <div>
        <img src="/images/halo.png">
    </div>

    <h3>Создать новый Фоло ID</h3>

    <form action="/registration" method="post">
        <div><input required type="text" name="username" placeholder="Логин"></div>
        <div><input required type="password" name="password" placeholder="Пароль"/></div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <div><input type="submit" value="Создать ID"/></div>
    </form>

    {{#message}}
        {{message}}
    {{/message}}
</body>
</html>