<!DOCTYPE html>
<head>
    <title>Пользователи</title>
    <meta http-equiv="Content-Type" content="text/html" charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/folouser.css">
    <script src="/js/folouser.js"></script>
</head>
<html>
    <body onload="setCheckboxes();">
        <div>
            <form method="post">
                <input id="userId" type="number" name="userId" placeholder="UserId"/>
                <input type="number" name="mainId" placeholder="MainId"/>
                <input type="checkbox" name="anchor"/>
                <input type="text" name="tag" placeholder="Tag"/>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <button type="submit" name="action" value="add">Добавить</button>
            </form>
        </div>
        <table id="maintab">
            <thead>
            <tr>
                <th>UserId</th>
                <th>MainId</th>
                <th>Якорь</th>
                <th>Имя</th>
                <th>Тэг</th>
                <th colspan="2">Действие</th>
            </tr>
            </thead>
            <tbody>
            {{#folousers}}
                <tr>
                    <form method="post">
                        <td width=10% align="center"><input type="number" name="userId" value="{{userId}}" readonly/></td>
                        <td width=10% align="center"><input type="number" name="mainId" value="{{mainId}}" /></td>
                        <td width=10% align="center"><input id = "anchor" type="checkbox" name="anchor"
                                                            onclick="onCheckboxClick(this)" value={{anchor}} /></td>
                        <td width=20%><i>{{name}}</i></td>
                        <td width=30%><i><input type="text" name="tag" value="{{tag}}"/></i></td>
                        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                        <td width=10% align="center">
                            <button type="submit" name="action" value="update">Обновить</button>
                        </td>
                        <td width=10% align="center">
                            <button type="submit" name="action" value="delete">Удалить</button>
                        </td>
                    </form>
                </tr>
            {{/folousers}}
            </tbody>
        </table>
    </body>
</html>